TMC_Workzone_Mapping/bin
TMC_Workzone_Mapping/obj


Original_Clients/lib/*
!Original_Clients/lib/README.md

Original_Clients/run/*

Server/data/*
!Server/data/README.md

Platforms/*
!Platforms/README.md

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
Client/Flutter/tetres/build/*

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

/Original_Clients/build/*
!/Original_Clients/build/README.md
