-ticas.python_server_host_ip=0.0.0.0
-ticas.db_host=0.0.0.0
-ticas.db_user=postgres
-ticas.db_pass=admin
-ticas.tetres_db_name=tetres
-ticas.iris_db_name=iris
-ticas.cad_db_name=cad
-ticas.rwis_db_name=rwis
-ticas.download_traffic_data_files=false
-# Comma-separated list:
-ticas.use_whitelist=false
-ticas.admin_ip_addresses=0.0.0.0,127.0.0.1
